
@media(max-width: 1280px){
    .container{
        max-width: 90%;
    }
}
/* 
@media(max-width: 1024px){
    section.profile {
      flex-direction: column;
      align-items: flex-start;
      clip-path: none;
    }

    section.profile .left{
        margin-bottom: 2rem;
    }

    section.profile .right{
        align-self: flex-end;
    }

    section.work .work-wrapper {
       
       display: block;
        
    }
    section.work .work-wrapper .slider-wrapper {
        margin-bottom: 5rem;
    }

    


}
@media(max-width: 970px){
    
    section.skills .skills-content {
        display: block;
    }
    section.skills .skills-content .left {
        margin-bottom: 20px;
    }
    section.skills .skills-content .right .right-skills-wrapper .skill-box {
        margin-bottom: 2rem;
    }
    section.partners .brands-wrapper {
       flex-wrap: wrap;
    }

    section.partners .brands-wrapper img {
        margin-bottom: 2rem;
    }
 


}

@media(max-width: 970px){
    section.about .about-content{
        display: block;
    }
    section.about .about-content .left{
        margin-bottom: 32px;
    }
    section.contact .contact-wrapper {
        display: block;
       
    }
    section.contact .contact-wrapper .left {
       display: flex;
       align-items: center;
       flex-wrap: wrap;
       justify-content: space-between;
    }

    section.contact .contact-wrapper .right button {
       
        padding: 10px 20px;
       
    }
    section.counter-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    section.counter-wrapper>div{
        margin-bottom: 32px;
    }




}

@media(max-width: 576px){
    section.profile {
       align-items: center;
    }
    section.profile .right{

        align-self: center;
       
    }
    section.work .work-wrapper .portfolio .tabs ul {
       flex-wrap: wrap;
    } 
    section.work .work-wrapper .portfolio .tabs ul li{
       margin-bottom: 1rem;
    } 
    section.work .work-wrapper .portfolio .portfolio-wrapper {
        margin-top: 2rem;
        
    }
    section.contact .contact-wrapper .right .form-group {
       
        grid-template-columns: 1fr ;
        
    }
    footer {
      
        padding: 20px 0;
        
    }
} */















@media (max-width: 1200px) {

    section.profile {
      flex-direction: column;
      align-items: flex-start;
      clip-path: none;
    }
    
    section.profile .left{
        margin-bottom: 2rem;
    }

    section.profile .right{
        align-self: flex-end;
    }
    section.work .work-wrapper {
       
        display: block;
         
    }

    section.work .work-wrapper .slider-wrapper {
        margin-bottom: 5rem;
    }

}




@media (max-width: 991px) {

    section.partners .brands-wrapper {
       flex-wrap: wrap;
    }
    section.about .about-content {
       
        grid-template-columns: 1fr;
       
    }
    section.skills .skills-content {
        
        grid-template-columns: 1fr;
       
    }
    section.skills .skills-content .left {
       margin-bottom: 20px;
    }
    section.skills .skills-content .right .right-skills-wrapper .skill-box {
        margin-bottom: 2rem;
    }
    section.contact .contact-wrapper {
        
        grid-template-columns: 1fr;
       
    }
    section.contact .contact-wrapper .left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

} 



@media (max-width: 768px) {

    section.profile {
      text-align: center;
    }
    section.profile .right {
        align-self: center;
    }
    section.skills .skills-content .left {
       
        grid-template-columns: 1fr;
        
    }
    section.counter-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    section.counter-wrapper>div {
        margin-bottom: 30px;
    }
    section.work .work-wrapper .portfolio .tabs ul {
        flex-wrap: wrap;
    } 
     section.work .work-wrapper .portfolio .tabs ul li{
        margin-bottom: 1rem;
    } 
    section.contact .contact-wrapper .left {
        flex-direction: column;
        align-items: flex-start;
    }
    section.contact .contact-wrapper .right .form-group {
       
        grid-template-columns: 1fr;
       
    }
 
}

@media (max-width: 480px) {

    section.contact .contact-wrapper .right .form-group {
        
        display: flex;
        flex-wrap: wrap;
    }
}


/* Wide Mobile Layout: 480px. */

